<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arifzyn API || DASHBOARD</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Arifzyn">
  <meta name="robots" content="">
  <meta name="keywords" content="api, arifzyn api, arifzyn, Arifzyn API">
  <meta name="description" content="Arifzyn API adalah platform REST API yang handal dan mudah digunakan. Dengan antarmuka yang intuitif, pengguna dapat mengakses dan mengintegrasikan berbagai sumber daya data dengan mudah.">
  <meta property="og:title" content="Arifzyn API - Arifzyn">
  <meta property="og:description" content="Arifzyn API adalah platform REST API yang handal dan mudah digunakan. Dengan antarmuka yang intuitif, pengguna dapat mengakses dan mengintegrasikan berbagai sumber daya data dengan mudah.">
  <meta property="og:image" content="https://telegra.ph/file/be7f704ea601970402705.jpg">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="../images/icon.png" type="" rel="icon">
  <link href="../images/icon.png" type="" rel="shortcut icon">
  <link rel="stylesheet" href="../vendor/bootstrap-select/css/bootstrap-select.min.css">
  <!-- Page level css : Dashboard  -->
  <link rel="stylesheet" href="../vendor/chartist/css/chartist.min.css">
  <link rel="stylesheet" href="../vendor/owl-carousel/owl.carousel.css"> <!-- End Page level css : Dashboard  -->
  <link rel="stylesheet" href="../https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
  <link rel="stylesheet" href="../css/style.css">

  <style>
    #detailModal .modal-content {
      background-color: #343a40;
      color: #adb5bd;
      overflow-y: auto;
    }

    #detailModal .modal-header {
      background-color: #212529;
      color: #ffffff;
      padding: 10px 15px;
    }

    #detailModal .close {
      color: #fff;
      background-color: transparent;
      font-size: 1.5rem;
      position: absolute;
      top: 0px;
      right: 10px;
      cursor: pointer;
      border: none;
    }

    #detailModal .modal-body {
      padding: 20px;
    }

    #detailModal .btn-outline-secondary {
      background-color: #008000;
      border-color: #007bff;
    }

    .btn .btn-outline-secondary {
      background-color: #001f3f;
    }
  </style>
</head>

<body>
  <div id="main-wrapper">

    <%- include('../layout/navbar.ejs') %>
    <%- include('../layout/sidebar.ejs') %>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailModalLabel">Detail Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center" id="modalContent">
            <!-- Konten modal akan diisi melalui JavaScript -->
          </div>
        </div>
      </div>
    </div>

    <div class="content-body default-height ">
      <div class="container-fluid">
        <div class="page-titles">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">feature</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">ai</a></li>
          </ol>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Anime / Manga API</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-responsive-md">
                    <thead>
                      <tr>
                        <th style="width:80px;">#</th>
                        <th>Name</th>
                        <th>Parameter</th>
                        <th>Method</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong class="text-black">01</strong></td>
                        <td>Komiku</td>
                        <td>no, query, url, url</td>
                        <td>GET</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><button class="btn btn-primary btn-sm" onclick="showOptions(['Komiku Latest', 'Komiku Search', 'Komiku Detail', 'Komiku Chapter'], ['/anime/komiku/latest', '/anime/komiku/search?query=seirei%20gensouki', '/anime/komiku/detail?url=https://komiku.id/manga/seirei-gensouki-minazuki-futago/', '/anime/komiku/chapter?url=https://komiku.id/ch/seirei-gensouki-minazuki-futago-chapter-01-bahasa-indonesia/'])">Detail</button>
                        </td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">02</strong></td>
                        <td>ChatGPT</td>
                        <td>text, apikey</td>
                        <td>GET</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/ai/ChatGPT3?text=Hallo&apikey=<%= apikey %>">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">03</strong></td>
                        <td>ChatGPT</td>
                        <td>message, apikey</td>
                        <td>POST</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/docs">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">04</strong></td>
                        <td>You</td>
                        <td>text, apikey</td>
                        <td>GET</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/ai/you?text=Hallo&apikey=<%= apikey %>">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">05</strong></td>
                        <td>Bard</td>
                        <td>text, apikey</td>
                        <td>POST</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/docs">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">06</strong></td>
                        <td>Gemini</td>
                        <td>text, apikey</td>
                        <td>GET</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/ai/gemini?text=Hallo&apikey=<%= apikey %>">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">07</strong></td>
                        <td>Bing Chat</td>
                        <td>text, apikey</td>
                        <td>GET</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/ai/bing?text=Hallo&apikey=<%= apikey %>">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">08</strong></td>
                        <td>Bing Image</td>
                        <td>text, apikey</td>
                        <td>GET</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/ai/bingimg?prompt=Hallo&apikey=<%= apikey %>">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">09</strong></td>
                        <td>Character Ai</td>
                        <td>Documentation</td>
                        <td>POST</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/docs">Detail</a></td>
                      </tr>
                      <tr>
                        <td><strong class="text-black">10</strong></td>
                        <td>Sovits</td>
                        <td>Documentation</td>
                        <td>POST</td>
                        <td><span class="badge light badge-success">Active</span></td>
                        <td><a class="btn btn-primary btn-sm" href="/docs">Detail</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="copyright">
          <p>Copyright © Designed &amp; Developed by <a href="http://github.com/ArifzynXD" target="_blank">Arifzyn
              API</a> 2023
          </p>
        </div>
      </footer>

    </div>
  </div> 
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="vendor/global/global.min.js"></script>
  <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="vendor/chart-js/chart.bundle.min.js"></script>
  <script src="vendor/owl-carousel/owl.carousel.js"></script>
  <script src="vendor/peity/jquery.peity.min.js"></script>
  <script src="vendor/apexchart/apexchart.js"></script>
  <script src="js/dashboard/dashboard-1.js"></script>
  <script src="js/custom.min.js"></script>
  <script src="js/deznav-init.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const closeModalButton = document.querySelector("#detailModal .close");
      closeModalButton.addEventListener('click', function() {
        $('#detailModal').modal('hide');
      });
    });

    function showOptions(title, urls) {
      const modalContent = title.map((t, index) => {
        const url = urls[index];
        return `<p><a class="btn btn-outline-secondary  mb-2" style="background-color: #001f3f; width: 150px;" href="${url}">${t}</a></p>`;
      }).join('');
      const modalContentElement = document.getElementById("modalContent");
      modalContentElement.innerHTML = modalContent;
      $('#detailModal').modal('show');
    }
  </script>
</body>

</html>